{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

<div class="container py-5 text-center d-flex flex-column justify-content-center" style="height: 90vh;">
  {% layout 'password' %}

  <h1 class="mb-4">{{ 'general.password_page.opening_soon' | t }}</h1>

  {% unless shop.password_message == blank %}
    <p>{{ shop.password_message }}</p>
  {% endunless %}

  {% form 'customer' %}

    {{ form.errors | default_errors }}

    {% if form.posted_successfully? %}
      <ul class="form-success">
        <li>{{ 'general.password_page.signup_form_success' | t }}</li>
      </ul>
    {% else %}
      <p class="mb-0">{{ 'general.password_page.signup_form_heading' | t }}</p>
      <input type="hidden" name="contact[tags]" value="prospect, password page">
      <input type="email"
        name="contact[email]"
        id="Email"
        spellcheck="false"
        autocomplete="off"
        autocapitalize="off"
        placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}"
        class="my-4">
      <button type="submit" name="commit" class="button">
        {{ 'general.password_page.signup_form_submit' | t }}
      </button>
    {% endif %}
  {% endform %}

  {% comment %}
  {% if settings.share_facebook or settings.share_twitter %}
    <p>{{ 'general.password_page.spread_the_word' | t }}</p>
    {% include 'social-sharing' %}
  {% endif %}
  {% endcomment %}

  <button type="button" class="btn btn-primary mx-auto" data-toggle="modal" data-target="#LoginModal">
    <span class="mr-3">{% include 'icon-lock' %}</span>
    {{ 'general.password_page.password_link' | t }}
  </button>
</div>