{% section 'product__gift-card' %}

<!-- Product reviews -->
<div class="container py-5">
  <div class="row">
    <div 
      class="yotpo yotpo-main-widget" 
      data-product-id="{{ product.id }}" 
      data-name="{{ product.title | escape }}" 
      data-url="{{ shop.url }}{{ product.url }}" 
      data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" 
      data-description="{{ product.description | escape }}">
    </div>
  </div>
</div>
<!-- Product reviews END -->

<script>const productData = {{ product | json }};</script>
<script defer src="{{ 'z__jsProduct.js' | asset_url }}"></script>