<h4 class="account__subheaders">Recent Orders</h4>
{% if customer.orders.size != 0 %}
  <table class="responsive-table">
    <thead>
      <tr>
        <th scope="col">{{ 'customer.orders.order_number' | t }}</th>
        <th scope="col">{{ 'customer.orders.date' | t }}</th>
        <th scope="col">{{ 'customer.orders.payment_status' | t }}</th>
        <th scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
        <th scope="col">{{ 'customer.orders.total' | t }}</th>
      </tr>
    </thead>
    <tbody>
      {% for order in customer.orders | limit:3 %}
        <tr>
          <th data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
            <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
          </th>
          <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
          <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
          <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
          <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% else %}
  <p>{{ 'customer.orders.none' | t }}</p>
  <a target="_blank" rel="noreferrer noopener" href="/" class="btn btn-primary">Shop Now</a>
{% endif %}

<h4 class="account__subheaders mt-5">Subscriptions</h4>
<p id="rc_link_container">
  <a href="/tools/recurring/login">Manage Subscriptions</a>
</p>