{% comment %}Assign object as block or section{% endcomment %}
{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% assign id = object.id %}
{% assign is_image_background = object.settings.is_image_background %}
{% assign image = object.settings.image %}
{% assign mobile_image = object.settings.mobile_image %}
{% assign link = object.settings.link %}
{% comment %} Text {% endcomment %}
{% assign text = object.settings.text %}
{% assign title = object.settings.title %}
{% assign title_color = object.settings.heading_color %}
{% assign subtitle = object.settings.subtitle %}
{% assign subtitle_color = object.settings.subheading_color %}
{% assign text_alignment = object.settings.text_alignment %}
{% assign text_horizontal_position = object.settings.text_horizontal_position %}
{% assign text_vertical_position = object.settings.text_vertical_position %}
{% comment %} Text background {% endcomment %}
{% assign background_color =  object.settings.background_color %}
{% assign background_color_alpha = object.settings.background_opacity | divided_by: 100.00 %}
{% assign text_width =  object.settings.text_width %}
{% comment %} Buttons {% endcomment %}
{% assign button_1 = object.settings.button_1 %}
{% assign button_1_link = object.settings.button_1_link %}
{% assign button_1_style = object.settings.button_1_style %}
{% assign button_2 = object.settings.button_2 %}
{% assign button_2_link = object.settings.button_2_link %}
{% assign button_2_style = object.settings.button_2_style %}
{% if button_1 != blank and button_2 != blank %}
  {% assign buttons = true %}
{% else %}
  {% assign buttons = false %}
{% endif %}
{% assign caption_border_width = object.settings.border_width %}
{% assign caption_border_color = object.settings.border_color %}
{% comment %} Mobile {% endcomment %}
{% assign mobile_text_below_media = object.settings.mobile_text_below_image %}
{% assign mobile_text_crop = object.settings.mobile_image_crop %}
{% assign mobile_headline_color = object.settings.heading_color_mobile %}
{% assign mobile_preheading_color = object.settings.pretext_color_mobile %}
{% assign mobile_subtitle_color = object.settings.subheading_color_mobile %}
{% comment %}Layout{% endcomment %}
{% assign width = object.settings.width %}
{% assign padding_top = object.settings.padding_top %}
{% assign padding_bottom = object.settings.padding_bottom %}
{% assign padding_left = object.settings.padding_left %}
{% assign padding_right = object.settings.padding_right %}
{% assign animation = object.settings.animation | default: 'none' %}

{% comment %}Is the color set to transparent?{% endcomment %}
{% assign heading_alpha = title_color | color_extract: 'alpha' %}
{% assign preheading_alpha = pretext_color | color_extract: 'alpha' %}
{% assign subheading_alpha = subtitle_color | color_extract: 'alpha' %}
{% assign mobile_headline_alpha = mobile_headline_color | color_extract: 'alpha' %}
{% assign mobile_preheading_alpha = mobile_preheading_color | color_extract: 'alpha' %}
{% assign mobile_subtitle_alpha = mobile_subtitle_color | color_extract: 'alpha' %}
{% assign caption_border_alpha = object.settings.border_color | color_extract: 'alpha' %}

{% comment %}Advanced{% endcomment %}
{% assign css_class = object.settings.css_class %}
{% assign custom_css = object.settings.custom_css %}

{% comment %}Section specific CSS{% endcomment %}
{% style %}

  #shopify-section-{{ id }} {
    position: relative;
    {% if is_image_background %}
      background: url('{{ image | img_url: "2048x" }}');
      background-size: cover;
      background-position: center;
    {% endif %}
  }

  #shopify-section-{{ id }} .content {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    padding-left: {{ padding_left }}px;
    padding-right: {{ padding_right }}px;
  }
{% endstyle %}

<div class="image-text-overlay {{ css_class }}">
  {% if pretext != blank or title != blank or subtitle != blank or button_1 != blank or button_2 != blank %}
      <div class="content text-align-{{ text_alignment }}">
        <div class="m-auto" style="max-width: 600px;">
        {% if title != blank %}
          <h1 class="section-title has-coffee-bean">
            <span>{{ title }}</span>
          </h1>
        {% endif %}

        {% if text != blank %}
          <div>
            {{ text }}
          </div>
        {% endif %}
        </div>
      </div>
  {% endif %}
  {% unless is_image_background %}
    <div class="image-text-overlay__image">
      <img src="{{ image | img_url: '2040x' }}" alt="">
    </div>
  {% endunless %}
</div>
