{% assign mainImage = product.featured_image %}

<div class="container">
  <div class="row">
    <div class="col-12 product-images__featured">
      {% for image in product.images %}
      <div class="d-flex justify-content-center product-gallery__zoom-link" data-img-id={{ image.id }}>
        <img src="{{ image | img_url: '2040x' }}" alt="{{ image.alt | escape }}" id="ProductPhotoImg">
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="row d-none d-md-block">
    <div class="col-12">
      <div class="container">
        <div class="row product-images__thumbnails">
          {% for image in product.images %}
            
            {% unless image.alt contains 'hide' %}
              <div 
                class="thumbnail-wrapper" 
                data-index="{{forloop.index0}}"
              >
                <div class="thumbnail-wrapper__border">
                  <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt }}">
                </div>
              </div>
            {% endunless %}
          {% endfor %}
          </div>
      </div>
    </div>
  </div>
</div>