<div class="account">
  <div class="account__header">
    <h1 class="header-text">
      {{ 'customer.account.title' | t }}
    </h1>
    <div class="logout_link">
      {{ 'layout.customer.log_out' | t | customer_logout_link }}
    </div>
  </div>

  <div class="account__content">
    <div class="account__order-history">
      <h4 class="account__subheaders">{{ 'customer.orders.title' | t }}</h4>
      {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}

          <table class="responsive-table">
            <thead>
              <tr>
                <th scope="col">{{ 'customer.orders.order_number' | t }}</th>
                <th scope="col">{{ 'customer.orders.date' | t }}</th>
                <th scope="col">{{ 'customer.orders.payment_status' | t }}</th>
                <th scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th scope="col">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr>
                  <th data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
                    <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
                  </th>
                  <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                  <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                  <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                  <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        {% else %}

          <p>{{ 'customer.orders.none' | t }}</p>

        {% endif %}
        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      {% endpaginate %}
    </div>
    <!-- <div class="account__account-details">
      <h4 class="account__subheaders">{{ 'customer.account.details' | t }}</h4>

      {{ customer.default_address | format_address }}

      <p><a href="/account/addresses" class="btn btn--primary">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
    </div> -->

    <!-- Begin ReCharge code -->
    <p id="rc_link_container">
      <a href="/tools/recurring/login">Manage Subscriptions</a>
    </p>
    <!-- End ReCharge code -->
  </div>
</div>
