{% assign id = section.id %}
{% comment %} Layout {% endcomment %}
{% assign padding_top = section.settings.padding_top %}
{% assign padding_bottom = section.settings.padding_bottom %}
{% assign width = section.settings.width %}
{% comment %} Section specific CSS {% endcomment %}
{% style %}
  #shopify-section-{{ id }} {
    background: linear-gradient(180deg, {{ section.settings.backgroundColor }} 49.48%, {{ section.settings.backgroundGradient }} 100%);
  }

  #shopify-section-{{ id }} .text {
    {% if custom_padding %}
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    {% endif %}
  }
{% endstyle %}

{% if section.settings.show_section %}
<div class="container {% unless width == 'standard' %}container--{{ width }}{% endunless %}">
  <div class="row">
    <div class="col-md-6 text">
      <h3 class="section-title has-coffee-bean">
        {{ section.settings.sectionTitle }}
      </h3>
      {{ section.settings.body }}
    </div>

    <div class="col-md-6">
      <div class="brewing-introduction__image-wrapper">
        <img src="{{ section.settings.image | img_url: 'large' }}" alt="">
      </div>
    </div>
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Brewing Introduction",
  "class": "brewing-section brewing-introduction",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Display Section",
      "default": true
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "sectionTitle",
      "label": "Section Title"
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "Body Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        },
        {
          "value": "narrow",
          "label": "Narrow"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "custom_padding",
      "label": "Apply Custom Padding?",
      "default": false,
      "info": "Checking box will activate below spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0,
      "min": 0,
      "max": 80,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "backgroundColor",
      "label": "Background Color",
      "default": "#fff"
    }
  ]
}
{% endschema %}