{% assign id = section.id %}
{% comment %} Layout {% endcomment %}
{% assign padding_top = section.settings.padding_top %}
{% assign padding_bottom = section.settings.padding_bottom %}
{% assign width = section.settings.width %}
{% comment %} Section specific CSS {% endcomment %}
{% style %}
  #shopify-section-{{ id }} {
    background: linear-gradient(180deg, {{ section.settings.backgroundColor }} 49.48%, {{ section.settings.backgroundGradient }} 100%);
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
  }
{% endstyle %}

<div class="container {% unless width == 'standard' %}container--{{ width }}{% endunless %}">
  <div class="row">
    <div class="col-12">
      {% form 'contact' %}
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="section-title has-coffee-bean text-center">{{ section.settings.sectionTitle }}</h2>
            <div class="pb-4">{{ section.settings.sectionSubtext }}</div>
          </div>
          <div class="col-12">
            <input type="text" id="ContactFormName" name="contact[name]" placeholder="Full Name">
          </div>
          <div class="col-md-6">
            <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="Email Address">
          </div>
          <div class="col-md-6">
            <input type="tel" id="ContactFormPhone" name="contact[phone]" placeholder="Phone Number">
          </div>
          <div class="col-12">
            <textarea rows="10" id="ContactFormMessage" name="contact[body]" placeholder="Message"></textarea>
          </div>
          <div class="col-12 text-center">
            <input class="btn btn-primary" type="submit" value="send">
          </div>
        </div>
      </div>
      {% if form.posted_successfully? %} Thank you for your contact {% endif %}
      {{ form.errors | default_errors }}
      {% endform %}
    </div>
  </div>
</div>

<div class="contact-bkg-img">
  <div class="contact-bkg-img__rhs">
    <img src="{{ 'coffee-beans-lhs.png' | asset_img_url: 'large' }}" alt="">
  </div>
  <div class="contact-bkg-img__lhs">
    <img src="{{ 'coffee-beans-rhs.png' | asset_img_url: 'large' }}" alt="">
  </div>
</div>

{% schema %}
{
  "name": "Contact Form",
  "class": "contact-section contact-form",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "sectionTitle",
      "label": "Section Title"
    },
    {
      "type": "richtext",
      "id": "sectionSubtext",
      "label": "Section Sub Text"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        },
        {
          "value": "narrow",
          "label": "Narrow"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0,
      "min": 0,
      "max": 80,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "backgroundColor",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "backgroundGradient",
      "label": "Background Gradient",
      "default": "#fff"
    }
  ]
}
{% endschema %}