{% assign id = section.id %}
{% comment %} Layout {% endcomment %}
{% assign padding_top = section.settings.padding_top %}
{% assign padding_bottom = section.settings.padding_bottom %}
{% comment %} Section specific CSS {% endcomment %}
{% style %}
  #shopify-section-{{ id }} {
    background: {{ section.settings.backgroundColor }};
  }

  #shopify-section-{{ id }} .content {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
  }
{% endstyle %}

<div class="container-fluid p-0">
  <div class="row m-0">
    <div class="col-md-6 p-0">
      <div class="acf-map h-100" data-zoom="16">
        <div class="marker" data-lat="25.9489875" data-lng="-80.18957979999999"></div>
      </div>
    </div>
    <div class="col-md-6 bg-primary">

      <div class="content m-auto">
        <h3 class="section-title has-coffee-bean pb-0">{{ section.settings.sectionTitle }}</h3>
        <div class="company-address">
          {% include settings.icon, name: 'location' %}
          {% assign address = shop.address %}
          {{ address.address1 }}{{ address.city }}, {{ address.province_code }} {{ address.zip }}
        </div>
        <div class="contact-info">
          <div class="row">
            <div class="contact-info__customer-service col-md-6">
              <h3 class="contact-info__title">Customer Service</h3>
              <div>
                {% include settings.icon, name: 'phone' %}
                <b>Toll Free: </b>{{section.settings.customerServiceTollFree}}
              </div>
              <div>
                {% include settings.icon, name: 'phone' %}
                <b>Local: </b>{{section.settings.customerServiceLocal}}
              </div>
              <div>
                {% include settings.icon, name: 'email' %}
                {{section.settings.customerServiceEmail}}
              </div>
            </div>
            <div class="contact-info__wholesale col-md-6">
              <h3 class="contact-info__title">Wholesale</h3>
              <div>
                <b>{{section.settings.wholesaleContactRep}}</b><br>
                {{section.settings.wholesaleContactRepTitle}}<br>
              </div>
              <div>
                {% include settings.icon, name: 'phone' %}
                <b>Direct: </b>{{section.settings.wholesaleDirect}}
              </div>
              <div>
                {% include settings.icon, name: 'phone' %}
                <b>Office: </b>{{section.settings.wholesaleOffice}}
              </div>
              <div>
                {% include settings.icon, name: 'email' %}
                {{section.settings.wholesaleEmail}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script defer src="{{ 'z__jsContact.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Contact Map",
  "class": "contact-section contact-map p-0",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "sectionTitle",
      "label": "Section Title"
    },
    {
      "type": "richtext",
      "id": "sectionSubtext",
      "label": "Section Sub Text"
    },
    {
      "type": "header",
      "content": "Customer Service"
    },
    {
      "type": "text",
      "id": "customerServiceTollFree",
      "label": "Toll Free"
    },
    {
      "type": "text",
      "id": "customerServiceLocal",
      "label": "Local"
    },
    {
      "type": "text",
      "id": "customerServiceEmail",
      "label": "Email"
    },
    {
      "type": "header",
      "content": "Wholesale"
    },
    {
      "type": "text",
      "id": "wholesaleContactRep",
      "label": "Wholesale Contact Rep"
    },
    {
      "type": "text",
      "id": "wholesaleContactRepTitle",
      "label": "Wholesale Contact Rep Title"
    },
    {
      "type": "text",
      "id": "wholesaleDirect",
      "label": "Direct"
    },
    {
      "type": "text",
      "id": "wholesaleOffice",
      "label": "Office"
    },
    {
      "type": "text",
      "id": "wholesaleEmail",
      "label": "Email"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0,
      "min": 0,
      "max": 80,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "backgroundColor",
      "label": "Background Color",
      "default": "#fff"
    }
  ]
}
{% endschema %}