{% assign product = all_products[section.settings.product_of_the_month] %}

{% assign id = section.id %}
{% comment %} Content {% endcomment %}
{% assign content = section.settings.content %}
{% assign image = section.settings.image %}
{% unless image %}{% assign image = product.featured_image %}{% endunless %}
{% comment %} Layout {% endcomment %}
{% assign width = section.settings.width %}
{% assign padding_top = section.settings.padding_top %}
{% assign padding_bottom = section.settings.padding_bottom %}
{% comment %} Advanced {% endcomment %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  #shopify-section-{{ id }} {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    {% if width == 'wide' %}
      width: 100%;
    {% endif %}
  }
  {% include 'css-loop', css: custom_css, id: id %}
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<section 
  class="section {{ css_class }} py-5 monthly-product" 
  {% if animation != "none" %}data-scroll-class="{{ animation }}"{% endif %}>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="monthly-product__subtitle has-coffee-bean">
          <h3 class="section-title">Try Our Coffee <br><b>of the month</b></h3>
        </div>

        <div class="d-none d-md-block">
          <h4 class="text-center">{{ product.title }}</h4>
          <p class="d-none d-md-block">
            {% unless content %}
              {{ product.description }}
            {% else %}
              {{ content }}
            {% endunless %}
          </p>
          <div class="text-center">
            <a class="btn btn-primary" href="{{product.url}}">View Product</a>
          </div>
        </div>

      </div>

      <div class="col-md-5 ml-auto monthly-product__image">
        {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
        <img 
          id="{{ img_id }}"
          class="lazyload"
          src="{{ image | img_url }}"
          data-src="{{ img_url }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ image.aspect_ratio }}"
          data-sizes="auto"
          alt="{{ image.alt}}">
      </div>

      <div class="col d-md-none">
        <div class="text-center">
          <h4>{{ product.title }}</h4>
          <a class="btn btn-primary" href="{{product.url}}">Buy Now</a>
        </div>
      </div>

    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product",
  "class": "index-monthly-product",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0,
      "min": 0,
      "max": 80,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "product",
      "id": "product_of_the_month",
      "label": "Product of the Month",
      "info": "Choose a product to display"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "info": "Use if not using product description."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Section Image"
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "presets": [
    {
      "name": "Product Display",
      "category": "Image"
    }
  ]
}
{% endschema %}
