{% assign id = section.id %}
{% comment %} Layout {% endcomment %}
{% assign show_gutter = section.settings.show_gutter %}
{% assign width = section.settings.width %}
{% assign padding_top = section.settings.padding_top %}
{% assign padding_bottom = section.settings.padding_bottom %}
{% assign animation = section.settings.animation %}
{% comment %} Advanced {% endcomment %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}
{% assign collection_handle = section.settings.featured_collection %}
{% assign product_limit = section.settings.limit %}

{% comment %} Section specific CSS {% endcomment %}
{% style %}
  #shopify-section-{{ id }} {
    background-image: url({{ 'background.png' | asset_url }});
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
    {% if width == 'wide' %}
      width: 100%;
    {% endif %}
  }
  {% include 'css-loop', css: custom_css, id: id %}
{% endstyle %}

<div class="page-width collection-list">

  {% case section.settings.grid %}
    {% when 2 %}
      {%- assign max_height = 530 -%}
      {%- assign grid_item_width = 'col-6 col-xl-6' -%}
    {% when 3 %}
      {%- assign max_height = 345 -%}
      {%- assign grid_item_width = 'col-6 col-xl-4' -%}
    {% when 4 %}
      {%- assign max_height = 250 -%}
      {%- assign grid_item_width = 'col-6 col-xl-3' -%}
    {% when 5 %}
      {%- assign max_height = 195 -%}
      {%- assign grid_item_width = 'col-6 col-xl-6' -%}
  {% endcase %}

  {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}

  <div class="container collection-container">

    {% if section.settings.title != blank %}
      <div class="section-title text-center has-coffee-bean">
        <h2>{{ section.settings.title | escape }}</h2>
      </div>
    {% endif %}
    <ul class="row">
      {% if collections[collection_handle].products.size > 0 %}
        {%- for product in collections[collection_handle].products limit: product_limit -%}
          <li class="{{ grid_item_width }}">
            {% include 'product_tile', max_height: max_height %}
          </li>
        {%- endfor -%}
      {% else %}

        {% for i in (1..product_limit) %}
          <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
            <div class="grid-view-item product-card">
              <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="#">
                <span class="visually-hidden">{{ 'homepage.onboarding.product_title' | t }}</span>
              </a>
              <div class="grid-view-item__image-wrapper">
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
              <div class="h4 grid-view-item__title" aria-hidden="true">{{ 'homepage.onboarding.product_title' | t }}</div>
              {% include 'product-price', variant: nil %}
            </div>
          </li>
        {% endfor %}

      {% endif %}
    </ul>
  </div>

  {% if section.settings.show_view_all %}
    <hr class="hr--invisible" aria-hidden="true" />
    <div class="text-center">
      <a href="{{ collection.url }}" class="btn" aria-label="{{ 'collections.general.view_all_label' | t: collection_name: collection.title }}">
        {{ 'collections.general.view_all' | t }}
      </a>
    </div>
  {% endif %}

</div>



{% schema %}
{
  "name": "Featured collection",
  "class": "index-section-collection d-none d-md-block",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Featured collection"
    },
    {
      "type": "range",
      "id": "limit",
      "label": "Limit featured products",
      "min": 1,
      "max": 8,
      "default": 1
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "half",
          "label": "Half"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "min": 0,
      "max": 80,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_left",
      "label": "Left spacing",
      "min": 0,
      "max": 80,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_right",
      "label": "Right spacing",
      "min": 0,
      "max": 80,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "grid",
      "label": "Products per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "rows",
      "label": "Rows",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 2
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show product vendors",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View all' button",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}
