{% comment %}Heading{% endcomment %}
{% assign title = section.settings.title %}
{% assign heading_alignment = section.settings.heading_alignment %}
{% comment %}Text{% endcomment %}
{% assign text = section.settings.text %}
{% assign text_alignment = section.settings.text_alignment %}
{% comment %}Layout{% endcomment %}
{% assign width = section.settings.width %}
{% comment %} Advanced {% endcomment %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}


<div class="rich-text container {{ css_class }} container--{{width}}">
  {% if title != blank %}
    <h2 class="section-title title text-{{ heading_alignment }} has-coffee-bean">{{ title }}</h2>
  {% endif %}

  {% if text != blank %}
    <div class="rich-text__text text-{{ text_alignment }} content">
      {{ text }}
    </div>
  {% endif %}
</div>

<div class="yotpo-widget-instance" data-yotpo-instance-id="71019"></div>

<div class="bg-imagery bg-imagery--beans-on-floor">
  <div class="contact-bkg-img__rhs">
    <img src="{{ 'coffee-beans-lhs.png' | asset_img_url: 'large' }}" alt="">
  </div>
  <div class="contact-bkg-img__lhs">
    <img src="{{ 'coffee-beans-rhs.png' | asset_img_url: 'large' }}" alt="">
  </div>
</div>

{% schema %}
{
  "name": "Yotpo Refer",
  "tag": "section",
  "class": "pt-0",
  "settings": [
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Rich text"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "justify",
          "label": "Justify"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use this section to create some callout text on your page, or add more details about your shop, services, promotions, etc. If you have a large amount&nbsp;of text, you can opt to have it display in <strong>two columns<\/strong> instead so that it's much easier to read.<\/p>\n<p><\/p>\n<p>This section also includes&nbsp;the option to add a button&nbsp;in primary or secondary style, and also control the colors, including the option for a gradient background. Since this is rich text, you can also <em>format it as you wish<\/em> and&nbsp;<a href=\"\/collections\/all\" title=\"All Products\">include links<\/a>.<\/p>"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "justify",
          "label": "Justify"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "md",
      "options": [
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "narrow",
          "label": "Narrow"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "wide",
          "label": "Large"
        }
      ]
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "paragraph",
      "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ]
}
{% endschema %}