<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}
  {% include 'style-tags', layout: 'theme' %}
  {% include 'css-variables' %}

  {{ 'jquery-3.5.1.min.js' | asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {{ 'popper.min.js' | asset_url | script_tag }}
  {{ 'bootstrap.min.js' | asset_url | script_tag }}
  {% include 'script-tags', layout: 'theme' %}
  <script defer src="{{ 'vendors.js' | asset_url }}"></script>
  <script defer src="{{ 'utilities.js' | asset_url }}"></script>
  <script defer src="{{ 'theme.js' | asset_url }}"></script>

  {{ content_for_header }}
</head>

<body class="template-password">
  {% comment %}
  <header role="banner">
    <h1>
      {{ shop.name }}
    </h1>
  </header>
  {% endcomment %}

  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

  <footer>
    {% capture shopify_link %}
      <a href="//www.shopify.com" target="_blank" rel="nofollow" title="Create your own online store with Shopify">
        {% include 'icon-shopify-logo' %}
        <span class="icon-fallback-text">Shopify</span>
      </a>
    {% endcapture %}
    {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify_link }}
  </footer>

  <!-- Modal -->
  <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>{{ 'general.password_page.login_form_heading' | t }}</h4>
          {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <label for="password">{{ 'general.password_page.login_form_password_label' | t }}</label>
            <input type="password"
              name="password"
              id="Password"
              placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
            <button type="submit" name="commit">
              {{ 'general.password_page.login_form_submit' | t }}
            </button>
          {% endform %}
          <p>{{ 'general.password_page.admin_link_html' | t }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>
